/* Mobile */

@media only screen and (max-device-width : 1024px)
{
    .matchups {
        padding: 5px;
        width: 100%;
        max-width: 95%;
        font-size: 1.8em;
    }

    .matchup {
        display: grid;
        grid-template-columns: 49% 2% 49%;
        margin-bottom: 15px;
    }

    .player {
        margin-bottom: 8px;
    }

    .refresh {
        margin: auto;
        width: 50%;
        text-align: center;
    }
}

/* Desktop */

@media only screen and (min-width : 1025px)
{
    .matchup {
        display: grid;
        grid-template-columns: 47.5% 5% 47.5%;
        margin-bottom: 10px;
        width: 30%;
    }

    .player {
        margin-bottom: 2px;
    }

    .refresh {
        width: 30%;
        text-align: center;
    }
}

body {
    background-color: black;
    color: white;
    font-family: monospace;
}

.league-name {
    width: 100%;
    text-align: center;
    font-weight: bolder;
}

.team-header {
    display: grid;
}

.team-header.even, .player.even {
    grid-template-columns: 50% 25% 25%;
}

.team-header.odd, .player.odd {
    grid-template-columns: 25% 25% 50%;
}

.team-name {
    display: grid;
    align-items: center;
    padding: 10px 5px 5px 5px;
    font-weight: bolder;
}

.team-header.even .team-name {
    padding-right: 10px;
    text-align: right;
}

.team-header.odd .team-name {
    padding-left: 10px;
    text-align: left;
}

.team-points, .team-projected {
    display: grid;
    align-items: center;
    text-align: center;
    padding: 10px 5px 5px 5px;
    font-weight: bolder;
}

.team-points {
    font-size: 1.2em;
}

.player-header {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 5px;
}

.player {
    display: grid;
    border: 1px solid #000;
    border-radius: 25px;
}

.player div {
    overflow-x: hidden;
    white-space: nowrap;
}

.player.played, .player.active {
    border-color: black;
}

.player.future {
    border-color: #333;
}

.team-projected, .player.active .projected, .player.none .projected, .player.normal .projected {
    color: #ddd;
}

.player.warning {
    color: yellow !important;
}

.player.questionable {
    color: darkorange !important;
}

.player.injured_reserved, .player.out, .player.doubtful {
    color: #d00 !important;
}

.player .name {
    padding: 3px 10px;
}

.player.even .name {
    text-align: right;
}

.player .projected, .player .points, .team-points, .team-projected {
    font-family: monospace;
    display: grid;
    align-items: center;
    text-align: center;
}

.player .display {
    font-family: monospace;
    display: grid;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
}

.player.playing {
    background-color: darkgreen;
}

.player.played {
    background-color: #333;
}

.player.future {
    background-color: black;
}

a {
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    background: dimgray;
}
