/* Mobile */

@media only screen and (max-device-width : 1024px)
{
    .matchups {
        padding: 5px;
        width: 100%;
        max-width: 95%;
        font-size: 1.8em;
    }

    .matchup {
        display: grid;
        grid-template-columns: 49% 2% 49%;
        margin-bottom: 20px;
    }

    .player {
        margin-bottom: 5px;
    }
}

/* Desktop */

@media only screen and (min-width : 1025px)
{
    .matchup {
        display: grid;
        grid-template-columns: 47.5% 5% 47.5%;
        margin-bottom: 20px;
        width: 30%;
    }

    .player {
        margin-bottom: 2px;
    }
}

body {
    background-color: black;
    color: white;
}

.league-name {
    width: 100%;
    text-align: center;
    font-weight: bolder;
}

.team-header {
    display: grid;
}

.team-header.even {
    grid-template-columns: 55% 20% 25%;
}

.team-header.odd {
    grid-template-columns: 25% 20% 55%;
}

.team-name {
    display: grid;
    align-items: center;
    padding: 10px 5px 5px 5px;
    font-weight: bolder;
}

.team-header.even .team-name {
    padding-right: 10px;
    text-align: right;
}

.team-header.odd .team-name {
    padding-left: 10px;
    text-align: left;
}

.team-points {
    display: grid;
    align-items: center;
    text-align: center;
    padding: 10px 5px 5px 5px;
    font-weight: bolder;
}

.player-header {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 5px;
}

.player {
    display: grid;
    border: 1px solid #000;
    border-radius: 25px;
}

.player.even {
    grid-template-columns: 55% 20% 25%;
}

.player.odd {
    grid-template-columns: 25% 20% 55%;
}

.player div {
    overflow-x: hidden;
    white-space: nowrap;
}

.player.played, .player.active {
    border-color: black;
}

.player.future {
    border-color: #333;
}

.player.questionable {
    color: darkorange !important;
}

.player.injured_reserved, .player.out, .player.doubtful {
    color: #d00 !important;
}

.player .name {
    padding: 1px 10px;
}

.player.even .name {
    text-align: right;
}

.player .projected, .player .points, .team-points, .team-projected {
    font-family: monospace;
    display: grid;
    align-items: center;
    text-align: center;
}

.player .display {
    font-family: monospace;
    display: grid;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
}

.player.playing {
    background-color: darkgreen;
}

.player.played {
    background-color: #333;
}

.player.future {
    background-color: black;
}

.refresh {
    margin: auto;
    width: 50%;
    text-align: center;
}